.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5E503F;
    padding: 30px 50px;
    border-radius: 15px;
    gap: 20px;
    border: #C6AC8F 5px solid;
    box-shadow: 0 5px 3px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.card-wrapper h1 {
    color: #EAE0D5;
    font-weight: 600;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-title {
    color: #fafafac5;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.info-value {
    background-color: #C6AC8F;
    padding: 10px 20px;
    text-align: center;
    color: #0A0908;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    min-width: 200px;
    font-size: 18px;
}